<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>ログイン画面</title>
    <link href="/css/add.css" rel="stylesheet"></link>
    <meta charset="utf-8" />
  </head>
  <body>
    <h1>ログイン画面</h1>
  <table>
    <tr th:if="${validationError}" th:each="error : ${validationError}">
      <td style="color:red;" th:text="${error}"></td>
    </tr>
  </table>
  <form th:action="@{/user/login}" th:object="${userRequest}" th:method="post">
    <table>
      <tr>
        <th class="cell_title">ログインID:</th>
        <td><input type="text" th:field="*{loginId}"></td>
      </tr>
      <tr>
        <th class="cell_title">パスワード:</th>
        <td><input type="password" th:field="*{password}"></td>
      </tr>
      <tr class="cell_title">
      <th/>
      <td>
        <input type="submit" name="login" value="ログイン" class="btn_login">
        <input type="submit" name="add" value="アカウント新規登録" class="btn_add">
      </td>
      </tr>

    </table>
  </form>
  </body>
</html>