<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>ログイン成功画面</title>
    <link href="/css/add.css" rel="stylesheet"></link>
    <meta charset="utf-8" />
  </head>
  <body>
  <table>
    <tr th:if="${validationError}" th:each="error : ${validationError}">
      <td style="color:red;" th:text="${error}"></td>
    </tr>
  </table>
    <h1>ログイン成功しました</h1>
    <a href="/user/top">ログアウト</a>
</html>