body {
	width: 80%;
}

table {
	width: 100%;
	border-collapse: collapse;
	font-size: 13px;
}

table th, table td {
	padding: 6px;
}

table input {
	width: 100%;
}

.cell_title {
	border-right: 0;
	width: 200px;
}

.btn_login {
	width: 100px;
	text-align: center;
	float: left;
}

.btn_add {
	width: 200px;
	text-align: center;
	float: right;
}

.btn_regist {
	width: 100px;
	text-align: center;
	float: right;
}